@media screen and (min-width: 667px) {
    #desktopApp{
        height: 70vh;
        width: 70vw;
        border-radius: 15px;
        background-color: white;
        margin: 15vh auto 0 auto;
        max-width: 1000px;
        box-shadow: 0 2em 3em -1.8em;
    }

    .sideGradient{
        height: 100vh;
        width: 20vw;
        background-image: linear-gradient(#af68ea, #6462e7);
        position: absolute;
        margin-left: -20vw;
        margin-top: -10vh;
        z-index: 2;
    }

    .bullseye{
        width: 100vw;
    }

    .antRowFaq{
        width: 80%;
        min-width: 400px;
        margin-top: -20%;
    }

    .antRowFaq{
        position: absolute;
    }

    .faqTitle{
        margin: -35% 8%;
    }

    .ant-collapse-header:not(.ant-collapse-item-active *):hover{
        color: hsl(14, 88%, 65%) !important;
        cursor: url(http://www.rw-designer.com/cursor-extern.php?id=83289), auto;
    }

    .faqBody{
        position: relative;
    }

    .faqTitle.active{
        transition: 0;
        opacity: 1;
    }

}