.faqTitle{
    transition: 500ms;
    font-size: 40px;
    padding-top: 70px;
    font-weight: 900;
    font-family: 'Kumbh Sans', sans-serif;
    margin: -15px auto;
    opacity: 100%;
}

.faqBody{
    width: 100%;
    margin-top: -14px;
}

.faqBody--component.active{
    font-weight: bold;
}

.line{
    height: 1px;
    background-color: hsl(238, 29%, 16%);
    opacity: 0.2;
    width: 96%;
    margin-left: 4%;
}

.faqBody--collapse{
    margin: 0 auto;
    border-radius: 20px;
    width: 90%;
}

.faqBody--componentItem{
    font-weight: normal;
    font-size: 12px;
}

.collapseIcon{
    color: hsl(14, 88%, 65%);
}

.antRowFaq{
    width: 100%;
}

@media screen and (max-height: 704px) {
    .faqBody{
        margin-top: -15%;

    }   

    .faqTitle.active{
        transition: 500ms;
        opacity: 25%;
    }

    .faqBody--component:hover{
        color: hsl(14, 88%, 65%);
    }
}
