.ilustracaoFaq{
    position: absolute ;
    margin-top: 90%;
    width: 100%;
    z-index: 2;
}

.ilustracao{
    width: 90%;
}
.sombraFaq{
    position: relative;
    
    z-index: 1;
}

.sombra{
    width: 80%;
    margin: -35% auto auto 10%;
}
